<div class='post-card'>
  <div class='post-card-header'>
    <h2>{{this.title}}</h2>
    <p>By {{this.user.username}} on {{this.createdAt}}</p>
  </div>
  <p class='post-card-content'>{{this.content}}</p>
</div>