<div class='post-card' data-post-id='{{this.id}}'>
  <div class='post-card-header'>
    <h2>{{this.title}}</h2>
    <p>on {{formatDate this.createdAt}}</p>
  </div>
  <div class='post-actions'>
    <button id='edit-button' class='action-button'>Edit</button>
    <button id='view-button' class='action-button'>View</button>
    <button id='del-button' class='action-button'>Delete</button>
  </div>
</div>