<div class='post-card' data-post-id='{{this.id}}'>
  <div class='post-card-header'>
    <h2>{{this.title}}</h2>
    <p>on {{formatDate this.createdAt}}</p>
  </div>
  <div class='post-actions'>
    <button class='action-button view-button'>View</button>
    <button class='action-button edit-button'>Edit</button>
    <button class='action-button delete-button'>Delete</button>
  </div>
</div>