{{! Placeholder to test routes }}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Joe's Blog</title>
    <link rel='stylesheet' href='/css/global.css' />
  </head>

  <body>
    <header>
        <div class="header-container">
            <h1><a href="/">Joe Blogg's Tech Blog</a></h1>
            <nav>
                <menu>
                {{#if logged_in}}
                  <li><a href='/dashboard'>Dashboard</a></li>
                  <li><a href='/log-in'>Log out</a></li>
                {{else}}
                  <li><a href='/log-in'>Log in</a></li>
                  <li><a href='/sign-up'>Sign up</a></li>
                {{/if}}
                </menu>
            </nav>
        </div>
        
    </header>

    <main>
        {{! Placeholder tag to "inject" content from other handlebar }}
        {{{body}}}
    </main>
  <body>

</html>