<div class='form-container'>
  <div class='form-card'>
    <h2>Bye!</h2>
    <p class='log-out-message'>You have succesfully logged out.</p>
    <p>Was that a mistake? <a href='/log-in'>Log in</a></p>
  </div>
</div>