<div class='form-container'>

  <div class='form-card'>
    <h2>Sign up</h2>
    <form>
      <li>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </li>
      <li>
        <label for='email'>Email:</label>
        <input type='email' id='email' name='email' required />
      <li>
        <label for='password'>Password:</label>
        <input type='password' id='password' name='password' required />
      </li>
      <li>
        <label for='confirm-password'>Confirm password:</label>
        <input type='password' id='confirm-password' name='confirm-password' required />
      </li>
      <button type='submit'>Sign up</button>
    </form>
    <p>Already have an account? <a href='/log-in'>Log in</a></p>
  </div>
</div>

<script src='/js/sign-up.js'></script>
