/* the props */
@import 'https://unpkg.com/open-props';

/* optional imports that use the props */
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';

/* Global Styling */

li {
  list-style: none;
  padding: 0;
}

/* Overwrite max width of text bodies that comes normalized with open-props */
/* Design-wise, the max size is actually important for bodies of text in UI experience, but i don't have enough time to solve this differently here */
p {
  max-inline-size: none;
}

h1 {
  font-size: var(--font-size-fluid-3);
  text-align: center;
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h3 {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
}

/* Header Styling */
header {
  background-color: var(--surface-3);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  box-shadow: var(--shadow-4);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: block;
}

menu {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: var(--font-size-3);
}

/* Shared styling for both forms */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Following calc removed header size and padding from vh100 height */
  min-height: calc(100vh - 70px - var(--size-fluid-1) * 2);
  /* margins (esp. left/right) to auto so that content is centered */
  margin: auto;
  /* Set width of this max and then form items to 100% so that they are same size and both shrink. */
  max-width: 360px;
  padding-inline: var(--size-fluid-3);
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-fluid-3);
  width: 100%;

  &:hover {
    box-shadow: var(--shadow-4);
  }
}

.form-card form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-card h2 {
  margin: auto;
  margin-bottom: var(--size-fluid-1);
}

.form-card p {
  text-align: center;
}

form li {
  display: flex;
  flex-direction: column;
  margin: var(--size-fluid-1) 0;
  width: 100%;
}

form button {
  /* center horizontally within form */
  margin: var(--size-fluid-2) auto;
}

/* Post styling */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-fluid-2) auto;
  max-width: 660px;
}

.post-card,
.add-post-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-fluid-2);
  margin-bottom: var(--size-fluid-2);
  width: 100%;

  &:hover {
    box-shadow: var(--shadow-5);
    background-color: var(--surface-3);
  }
}

.post-card:hover {
  cursor: pointer;
}

.post-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-fluid-1);
}

.post-card .post-card-content {
  /*  Following truncates p on home page after 3 lines. See https://www.youtube.com/watch?v=Xc6G3oV24yE&list=PL4xoL-tQLjcvcYX53oPeYaUfMxxjc3o9L&index=6 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-card-content {
  text-align: justify;
  flex-grow: 1;
}

/* Styling for Single Post pages */

.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-fluid-3) auto;
  max-width: 900px;
}

/* Recieves the same color/shadow styling as the post-card class when it's hovered */
.single-post-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--surface-3);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  padding: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-2);
  width: 100%;
}

/* THis now recieves the surface/shadow styling that the post-cards did at home page */
.comment-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-1);
  margin-left: var(--size-fluid-3);
  /* Width calculated to end in line with the post cards by subtracting the left margin from 100% */
  width: calc(100% - var(--size-fluid-3));
}

.comment-card p {
  font-size: var(--font-size-1);
}

.log-out-message {
  text-align: center;
  font-weight: var(--font-weight-7);
  margin: var(--size-fluid-2) auto;
}

/* Format it the same as the the comment-card */
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Body Text input areas */
.comment-content,
.post-content,
.edit-content {
  width: 100%;
  background-color: transparent;
  padding: 0;
}

/* Header text input areas */
.title-content,
.edit-title {
  flex-grow: 1;
  background-color: transparent;
  /* Following are to mimic <h2> styles in open-props normalize */
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
  text-wrap: balance;
  padding: 0;
}

.buttons-container,
.post-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

button {
  margin: 0 auto;
}

.post-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-fluid-1);
}

.post-card-header p,
.post-date,
.post-date-container {
  font-weight: bold;
  min-width: 33%;
  text-align: end;
}

.hidden {
  display: none;
}

@media screen and (max-width: 960px) {
  .header-container {
    flex-direction: column;
  }
  .post-card-header {
    flex-direction: column;
  }
  nav {
    padding: var(--size-fluid-1);
  }
  h2 {
    text-align: center;
  }
}
