/* the props */
@import 'https://unpkg.com/open-props';

/* optional imports that use the props */
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/buttons.min.css';

/* Global Styling */

li {
  list-style: none;
  padding: 0;
}

/* Header Styling */
header {
  background-color: var(--surface-3);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  box-shadow: var(--shadow-4);
}

.header-container {
  display: flex;
  flex: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: block;
}

menu {
  display: flex;
  justify-content: space-between;
}

/* Shared styling for both forms */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Following calc removed header size and padding from vh100 height */
  min-height: calc(100vh - 70px - var(--size-fluid-1) * 2);
  /* margins (esp. left/right) to auto so that content is centered */
  margin: auto;
  /* Set width of this max and then form items to 100% so that they are same size and both shrink. */
  max-width: 360px;
  padding-inline: var(--size-fluid-3);
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-fluid-3);
  width: 100%;

  &:hover {
    box-shadow: var(--shadow-4);
  }
}

.form-card form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-card h2 {
  margin: auto;
  margin-bottom: var(--size-fluid-1);
}

.form-card p {
  text-align: center;
}

form li {
  display: flex;
  flex-direction: column;
  margin: var(--size-fluid-1) 0;
  width: 100%;
}

form button {
  /* center horizontally within form */
  margin: var(--size-fluid-2) auto;
}

/* Post styling */

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Following calc removed header size and padding from vh100 height */
  min-height: calc(100vh - 70px - var(--size-fluid-1) * 2);
  margin: var(--size-fluid-3) auto;
  max-width: 660px;
}

.post-card,
.add-post-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-2);
  width: 100%;

  &:hover {
    box-shadow: var(--shadow-5);
    background-color: var(--surface-3);
  }
}

.post-card:hover {
  cursor: pointer;
}

.post-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-fluid-1);
}

.post-card-content {
  text-align: justify;
}

/* Styling for Single Post pages */

.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Following calc removed header size and padding from vh100 height */
  min-height: calc(100vh - 70px - var(--size-fluid-1) * 2);
  margin: var(--size-fluid-3) auto;
  max-width: 900px;
}

/* Recieves the same color/shadow styling as the post-card class when it's hovered */
.single-post-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--surface-3);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  padding: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-2);
  width: 100%;
}

/* THis now recieves the surface/shadow styling that the post-cards did at home page */
.comment-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-1);
  margin-left: var(--size-fluid-3);
  /* Width calculated to end in line with the post cards by subtracting the left margin from 100% */
  width: calc(100% - var(--size-fluid-3));
}

.log-out-message {
  text-align: center;
  font-weight: var(--font-weight-7);
  margin: var(--size-fluid-2) auto;
}

/* Format it the same as the the comment-card */
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-content,
.post-content {
  width: 100%;
  background-color: var(--surface-2);
}

.comment-form button,
.post-form button,
.post-content {
  display: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.post-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-fluid-1);
}

.title-content {
  flex-grow: 1;
  background-color: var(--surface-2);
  /* flex-shrink: 1; */
}
